<% include partials/header.ejs %>
<div class="main-trial  main-steps">
    <div class="images-wrapper">
        <div class="focus-img-wrapper">
            <div class="focus-item-image"></div>
        </div>
    </div>
    <div class="buttons-wrapper">
        <div data-val="yes">Yes</div>
        <div data-val="no" class="button-no">No</div>
    </div>
</div>
<div class="main-pause main-steps">
    <img src="/assets/focus.png" />
</div>
<div class="main-code main-steps">
   <div class="help-txt-score">Thank you for completing our survey, and for participating in this cognitive game.<br/><br/> The game should take no more than a couple of minutes, and will help us to measure your visual processing abilities. This is not a performance evaluation tool and results will not be linked to your person. it is simply a means for us to understand your current level of focus and response time.
    <br/><br/>
    <span>Please provide your unique reference code below to start the game.</span></div>
   <input type="text" id="user-code"/>
   <button class="btn-submit" disabled>Submit</button>
</div>
<div class="main-Thanks main-steps">
    <p>Thank you!</p>
    <p>You can close the tab now.</p>
 </div>
<div class="main-description main-steps">
    <img class="focus-icon" src="/assets/fast_icon.png" />
    <p>Welcome to the focus game</p>
    <p>
        You need to determine whether or not there is a red square in the shapes that appear on the screen.
    </p>
    <p>Press YES if there is. Press NO if there isn't.</p>
    <img src="/assets/intro.png" />
    <p>You need to play as quickly and accurately as possible.
    </p>
    <p>Please press the start button to begin the game.</p>
    <div class="btn-start">Start</div>
 </div>
<div class="main-target main-steps">
    <div class="target">
        Your Target is:
        <div class="focus-img-wrapper">
            <div class="focus-item-image"></div>
            <div class="border-image-box"></div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>